<!-- <div class="d-flex justify-content-end mb-20">
    <div class="d-flex align-items-center">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="mr-10">filter_list</mat-icon> *
    </div>
    <mat-form-field appearance="fill" class="">
        <input matInput placeholder="Search filter" ngModel
            name="filterFlights" (keyup)="searchFilter()"> 
    </mat-form-field>
</div> -->


<table mat-table mat-table  [dataSource]="flights" class="xmat-elevation-z8 full-width">
    <ng-container matColumnDef="AirlineName">
        <th mat-header-cell *matHeaderCellDef> Airlines </th>
        <td mat-cell *matCellDef="let flight">
            <div class="d-flex align-items-center">
                <div class="mr-10 img-col">
                    <img src="{{flight.AirlineLogoAddress}}" title="{{flight.AirlineName}}">
                </div>
                <div>
                    {{flight.AirlineName}}
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="OutboundFlightsDuration">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Outbound Flights Duration</th>
        <td mat-cell *matCellDef="let flight">
            <div class="text-center">
                {{flight.OutboundFlightsDuration}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="InboundFlightsDuration">
        <th mat-header-cell *matHeaderCellDef class="text-center">Inbound Flights Duration </th>
        <td mat-cell *matCellDef="let flight">
            <div class="text-center">
                {{flight.InboundFlightsDuration}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="TotalAmount">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Total ($) </th>
        <td mat-cell *matCellDef="let flight" class="text-center">
            <div>
                {{flight.TotalAmount | currency: 'USD'}}
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 40, 50, 100]" showFirstLastButtons></mat-paginator> -->