<mat-toolbar color="primary">
  <div class="container ">
    <div class="row d-flex align-items-center">
      <mat-icon class="mr-10">flight</mat-icon>
      <span>Flight Search</span>
    </div>
  </div>
</mat-toolbar>

<section class="container pt-15">
  <mat-card class="mb-20">
    <div class="top-header-section">
      <h1>Search for your desired flights!
      </h1>
    </div>
    <div class="row">
      <aside class=" col-12 col-sm-12 col-md-4 sidebar sidebar--left ptb-15">
        <app-search [queries]="queries" (onSearch)="getFlightResults($event)"></app-search>
      </aside>
      <section class=" pt-0 col-sm-12 col-md-8 flights-container">
  
        <div class="loader-container" *ngIf="loading">
          <mat-spinner class="mlr-auto" strokeWidth="4" mode="indeterminate"></mat-spinner>
          <br>
        </div>
  
        <app-flight-list [flights]="flights"></app-flight-list>
      </section>
    </div>
  </mat-card>
</section>